@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap');

/*Configuration Global*/

*{
	margin: 0;
	padding: 0;
	font-family: 'DM Mono', monospace;
}

/*Navigator Bar*/

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

h1{
	float: left;
	color: white;
	margin-left: 15px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*Content main*/

.block-main{
	height: 900px;
}

.background{
	background-image: url('../img/minimalism.jpg');
	background-repeat: no-repeat;
	height: 600px;
}

img{
	border-radius: 25%;
	margin-left: 75px;
	margin-top: 50px;
}

.content-main h2{
	color: #fff;
	margin-left: 130px;
}

.content-main p{
	color: #fff;
	margin-left: 70px;
}