*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #483D8B; /*<= DarkSlateBlue */ /*Teal => #008080;*/
}

.main{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	margin-top: 70px;
	color: #fff;
}

.main img{
	border-radius: 50%;
}

.main h1{
	margin-left: 40px;
	margin-top: 10px;
}

.main p{
	margin-top: 10px;
	margin-left: 10px;
}

.main p strong{
	color: #00CED1; /* DarkTurquoise */
}

.main a{
	color: #DAA520; /* Goldenrod */
	text-decoration: none;
	font-size: 40px;
	margin-top: 10px;
	display: block;
}