body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header{
    color: #eeeeee;
    text-align: center;
}
section{
    text-align: center;
    background: #eeeeee;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
footer{
    color: #eeeeee;
    text-align: center;
}

.sexos{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}
#btn{
    margin-top: 20px;
}
#year{
    margin-top: 10px;
}